<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SaveOnClouds.Web</title>

    @RenderSection("Styles", false)

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/js/jquery.bootgrid.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Save On Clouds</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Schedule">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Environment">Environment</a>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ManageCloudAccounts" asp-action="List">Cloud Accounts</a>

                    </li>
                    

                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            
                        <a asp-controller="Profile" asp-action="Index"><span>Hello @User.FindFirst(x => x.Type == "FullName")?.Value</span></a>
                        }
                    </li>
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="SignOut" asp-controller="Accounts">Log Out!</a>

                        }
                        else
                        {
                            <a asp-action="SignIn" asp-controller="Accounts">Login</a>
                            <a asp-action="SignUp" asp-controller="Accounts">Sign Up</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - SaveOnClouds.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/jquery.bootgrid.min.js" asp-append-version="true"></script>
<script src="~/js/jquery.bootgrid.fa.min.js" asp-append-version="true"></script>
<script src="~/js/Aws.js" asp-append-version="true"></script>
<script src="~/js/GoogleCloud.js" asp-append-version="true"></script>
<script src="~/js/Azure.js" asp-append-version="true"></script>
<script src="~/js/Accounts.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", false)
</body>
</html>